/* Variables
   ========================================================================== */
:root {
  --min-height: 5rem;
  --footer-height: 3rem;
  --background-color: #001d0c;
  --label-foreground-color: rgba(200,202,208,0.8);
  --input-background-color: rgba(200,202,208,0.2);
  --input-foreground-color: rgba(200,202,208,1);
  --folder-background-color: rgba(200,202,208,0.1);
  --folder-foreground-color: #c8cad0;
  --button-background-color: #adafb8;
  --button-background-color-active: #d6d7db;
  --button-background-color-focus: #c8cad0;
  --button-background-color-hover: #bbbcc4;
  --slider-size: 2rem;
}

/* Base
   ========================================================================== */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

html {
  font-size: 14px;
  overflow: hidden;
}

body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

main {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

/* Header
   ========================================================================== */
header {
  /*background-color: var(--background-color);*/
  height: var(--min-height);
  flex-shrink: 0;
}

header h1 {
  margin: 0;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  align-items: center;
}

header h1 span{
  font-family: 'Fira Mono', monospace;
}

header h1 img {
  max-height: 3rem;
  margin-right: 1rem;
}

/* Main
   ========================================================================== */
article {
  display: flex;
  flex: 1 0 auto;
  /*background-color: var(--background-color);*/
}

/* Container
   ========================================================================== */

.container > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .overflow {
  max-height: calc(100vh - 11.5rem);
  display: flex;
  width: 100%;
  padding: 0 1rem 1rem 1rem;
}

.container .Refresh {
  min-height: 3rem;
  width: calc(100% - 2rem);
}

/* Iframe section
   ========================================================================== */
section iframe {
  border: none;
  border-radius: 0.4rem;
}

/* Footer
   ========================================================================== */
footer {
  /*background-color: var(--background-color);*/
  min-height: var(--footer-height);
  flex-shrink: 0;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer svg.fa-heart path {
  fill: red;
}

footer svg {
  margin: 0 0.5rem;
}

/* Inputs
   ========================================================================== */

input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 0.9rem;
  appearance: none;
  background-color: transparent;
  border-width: 0;
  margin: 0;
  outline: none;
  padding: 0;
  background-color: var(--input-background-color);
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: var(--input-foreground-color);
  line-height: 1.7;
  min-width: 0;
  min-height: 2rem;
  width: 100%;
  padding: 0.2rem 0.4rem;
}

select option {
  color: black;
}

input[type="checkbox"] {
  transform: scale(1.3);
  margin-top: 0.3rem;
}

input::selection,
textarea::selection {
  color: black;
  background: var(--input-foreground-color);
}

/* Buttons
   ========================================================================== */

button,
a.button {
  appearance: none;
  background-color: transparent;
  border-width: 0;
  margin: 0;
  outline: none;
  padding: 0;
  background-color: var(--button-background-color);
  border-radius: 0.2rem;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 2rem;
  color: var(--background-color);
}

button:hover,
a.button:hover {
  opacity: 0.9;
}

button:focus,
a.button:focus,
button:active,
a.button:active {
  opacity: 0.8;
}

/* Range
   ========================================================================== */

input[type=range].slider {
  width: 100%;
  margin: 0px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: 0px;
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #d6d7dc;
}
input[type=range].slider::-moz-range-track {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-moz-range-thumb {
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
  background: #babdc4;
  border: 0;
}
input[type=range].slider::-ms-fill-upper {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
}
input[type=range].slider::-ms-thumb {
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].slider:focus::-ms-fill-lower {
  background: rgba(200, 202, 208, 0.2);
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #d6d7dc;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].slider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

input[type=range].slider {
  width: 100%;
  margin: 0px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: 0px;
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #d6d7dc;
}
input[type=range].slider::-moz-range-track {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-moz-range-thumb {
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
  background: #babdc4;
  border: 0;
}
input[type=range].slider::-ms-fill-upper {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
}
input[type=range].slider::-ms-thumb {
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].slider:focus::-ms-fill-lower {
  background: rgba(200, 202, 208, 0.2);
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #d6d7dc;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].slider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

input[type=text].slider_value {
  width: 20%;
  margin-left: 1rem;
}

section .iframe {
  display: flex;
  flex-direction: column;
}

.iframe .iframe-container {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.iframe-container div:first-child {
  max-height: calc(100vh - 11.5rem);
  height: calc(100vh - 11.5rem);
}

.iframe-container .iframe-share {
  display: flex;
  align-items: center;
  max-height: 2rem;
  margin-top: 0.5rem;
  flex: 1;
  font-family: 'Fira Mono', monospace;
  width: calc(100%);
}

.iframe-share label {
  font-family: 'Fira Mono', monospace;
  margin-right: 1rem;
}

.iframe-share button,
.iframe-share a {
  margin-left: 0.5rem;
}

.iframe-share a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe-share button svg path,
.iframe-share a svg path{
  fill: var(--background-color);
}