/* Variables
   ========================================================================== */
:root {
  --min-height: 5rem;
  --background-color: black;
  --label-foreground-color: rgba(200,202,208,0.8);
  --input-background-color: rgba(200,202,208,0.2);
  --input-foreground-color: rgba(200,202,208,1);
  --folder-background-color: rgba(200,202,208,0.1);
  --folder-foreground-color: #c8cad0;
  --button-background-color: #adafb8;
  --button-background-color-active: #d6d7db;
  --button-background-color-focus: #c8cad0;
  --button-background-color-hover: #bbbcc4;
  --slider-size: 2rem;
}

/* Base
   ========================================================================== */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

html {
  font-size: 14px;
}

html, body {
  height: 100%;
}

main {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

/* Header
   ========================================================================== */
header {
  background-color: black;
  height: var(--min-height);
  flex-shrink: 0;
}

header h1 {
  margin: 0;
}

/* Main
   ========================================================================== */
article {
  display: flex;
  flex: 1 0 auto;
}

article .container {
  position: relative;
  height: calc(100vh - var(--min-height) * 2);
  width: 60%;
}

article .overflow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1 0 auto;
  padding: 0;
  background-color: var(--background-color);
  padding: 0 2rem 0 1rem;
  overflow: auto;
}

article .container form {
  width: 100%;
}

/* Iframe section
   ========================================================================== */
section {
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1rem;
}

section iframe {
  height: 100%;
  border: none;
  border-radius: 0.4rem;
  flex: 1;
}

section .share {
  display: flex;
  align-items: center;
  max-height: 2rem;
  margin-top: 0.5rem;
  flex: 1;
  font-family: 'Fira Mono', monospace;
}

section .share label {
  font-family: 'Fira Mono', monospace;
  margin-right: 1rem;
}
/* Footer
   ========================================================================== */
footer {
  background-color: black;
  min-height: var(--min-height);
  flex-shrink: 0;
}

/* InputGroup
   ========================================================================== */
   
.InputGroup {
  transform: none;
  overflow: visible;
  transition: height .2s ease-in-out,opacity .2s linear .2s,padding .2s ease-in-out;
  background-color: var(--input-background-color);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.InputGroup.InputGroup__opened {
  opacity: 1;
  transform: none;
  overflow: visible;
  transition: height .2s ease-in-out,opacity .2s linear .2s,padding .2s ease-in-out;
  background-color: var(--input-background-color);
  border-radius: 0.5rem;
}
    
.InputGroup * {
  font-family: 'Fira Mono', monospace;
}

.InputGroup .InputGroup__header {
  appearance: none;
  background-color: transparent;
  border-width: 0;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  background-color: var(--folder-background-color);
  color: var(--folder-foreground-color);
  cursor: pointer;
  display: block;
  height: 2.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  padding-left: 2rem;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  transition: border-radius .2s ease-in-out .2s;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.InputGroup .InputGroup__header-chevron {
  background: linear-gradient(to left, var(--folder-foreground-color), var(--folder-foreground-color) 2px, transparent 2px, transparent 4px, var(--folder-foreground-color) 4px);
  border-radius: 2px;
  bottom: 0;
  content: '';
  display: block;
  height: 6px;
  left: 0.8rem;
  margin: auto;
  position: absolute;
  top: 0;
  width: 6px;
  transform: scale(1.8);
  transition: transform 0.2s linear;
}

.InputGroup.InputGroup__opened .InputGroup__header-chevron {
  transform: scale(1.8) rotate(90deg);
  transition: transform 0.2s linear;
}

.InputGroup .InputGroup__container {
  padding: 0;
  opacity: 0;
  height: 0;
  transition: none;
}

.InputGroup.InputGroup__opened .InputGroup__container {
  padding: 0.5rem;
  opacity: 1;
  height: auto;
  padding: 0.5rem;
  transition: opacity 0.2s linear;
}

/* Inputs
   ========================================================================== */

.Input {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
  margin-bottom: 0.25rem;
}

.Input * {
  font-family: 'Fira Mono', monospace;
}

.Input label {
  color: var(--label-foreground-color);
  flex: 1;
  hyphens: auto;
  overflow: hidden;
  padding-left: 0.4rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.Input label > span {
  color: white;
  background-color: var(--input-background-color);
  padding: 0.5rem;
  width: 3rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  text-align: center;
  font-size: 90%;
  line-height: 1.5rem;
  max-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input .Input__container {
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  width: 60%;
}

/* CommandInput
   ========================================================================== */

.CommandInput {
  padding: 0.25rem 0;
}

/* AddRemoveCommands
   ========================================================================== */
.AddRemoveCommands {
  display: flex;
  width: 60%;
  margin-left: 40%;
  font-size: 1.5rem;
  align-items: center;
}

.AddRemoveCommands button {
  margin-right: 0.3rem;
}

/* Inputs
   ========================================================================== */

input[type="text"],
select,
textarea {
  font-size: 0.9rem;
  appearance: none;
  background-color: transparent;
  border-width: 0;
  margin: 0;
  outline: none;
  padding: 0;
  background-color: var(--input-background-color);
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: var(--input-foreground-color);
  line-height: 1.7;
  min-width: 0;
  min-height: 2rem;
  width: 100%;
  padding: 0.2rem 0.4rem;
}

select option {
  color: black;
}

input[type="checkbox"] {
  transform: scale(1.3);
  margin-top: 0.3rem;
}

input::selection,
textarea::selection {
  color: black;
  background: var(--input-foreground-color);
}

/* Buttons
   ========================================================================== */

button {
  appearance: none;
  background-color: transparent;
  border-width: 0;
  margin: 0;
  outline: none;
  padding: 0;
  background-color: var(--button-background-color);
  border-radius: 0.2rem;
  cursor: pointer;
  display: block;
  font-weight: bold;
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 2rem;
  color: var(--background-color);
}

button:hover {
  opacity: 0.9;
}

button:focus, button:active {
  opacity: 0.8;
}

button.Refresh {
  width: 100%;
  margin-top: 0.5rem;
}

/* Range
   ========================================================================== */

input[type=range].slider {
  width: 100%;
  margin: 0px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: 0px;
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #d6d7dc;
}
input[type=range].slider::-moz-range-track {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-moz-range-thumb {
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
  background: #babdc4;
  border: 0;
}
input[type=range].slider::-ms-fill-upper {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
}
input[type=range].slider::-ms-thumb {
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].slider:focus::-ms-fill-lower {
  background: rgba(200, 202, 208, 0.2);
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #d6d7dc;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].slider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

input[type=range].slider {
  width: 100%;
  margin: 0px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: 0px;
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #d6d7dc;
}
input[type=range].slider::-moz-range-track {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-moz-range-thumb {
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0px 0;
  color: transparent;
  width: 100%;
  height: var(--slider-size);
  cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
  background: #babdc4;
  border: 0;
}
input[type=range].slider::-ms-fill-upper {
  background: rgba(200, 202, 208, 0.2);
  border: 0;
}
input[type=range].slider::-ms-thumb {
  width: var(--slider-size);
  height: var(--slider-size);
  background: #c8cad0;
  border: 0;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].slider:focus::-ms-fill-lower {
  background: rgba(200, 202, 208, 0.2);
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #d6d7dc;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range].slider {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

input[type=text].slider_value {
  width: 20%;
  margin-left: 1rem;
}

/* Simplebar
   ========================================================================== */
   
.simplebar-track {
  right: 0.6rem;
}
.simplebar-scrollbar::before {
  background-color: white !important;
}